<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {%- if settings.favicon != blank -%}
      <link rel="icon" href="{{ settings.favicon | image_url: '32x32' }}" type="image/png">
    {%- else -%}
      <link rel="icon" href="{{ 'img__favicon.svg' | asset_url }}" type="image/svg+xml">
    {%- endif -%}
    <script src="https://cdn.tailwindcss.com" />
    {{ content_for_header }}
  </head>

  <body>
    {% section 'header' %}
    // {% render 'header' %}
    {{ content_for_layout }}
    {% render 'footer' %}
  </body>
</html>
