{% liquid
  assign product = section.settings.product
  assign margin_top = section.settings.marginTop
  assign margin_bottom = section.settings.marginBottom
  assign padding_top = section.settings.paddingTop
  assign padding_bottom = section.settings.paddingBottom
%}
<section
  class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[{{ margin_bottom }}px] mt-[{{ margin_top }}px] pb-[{{ padding_bottom }}px] pt-[{{ padding_top }}px]"
>
  <div class="flex flex-col md:flex-row">
    <div class="w-1/2">
      <img
        class="object-cover w-full h-full"
        width="auto"
        height="auto"
        src="{{ product.featured_image | image_url }}"
        alt="vegetables"
      >
    </div>
    <div class="w-1/2">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price | money }}</p>

      <div class="product-quantity">
        <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Choose quantity:</label
        >
        <div class="relative flex items-center max-w-[8rem]">
          <button
            type="button"
            id="decrement-button"
            data-input-counter-decrement="quantity-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
          >
            <svg
              class="w-3 h-3 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 2"
            >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
            </svg>
          </button>
          <input
            type="text"
            id="quantity-input"
            data-input-counter
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="999"
            required
          >
          <button
            type="button"
            id="increment-button"
            data-input-counter-increment="quantity-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
          >
            <svg
              class="w-3 h-3 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 18"
            >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </button>
        </div>
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
          Please select a 5 digit number from 0 to 9.
        </p>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Feature Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "marginTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "paddingBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Feature Product"
    }
  ]
}
{% endschema %}
