<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[80px] mt-[40px]">
  {{ section.settings }}
  {{ section.settings.gridViewCollectionId }}
  {{ collections[section.settings.gridViewCollectionId].title }}
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">
      {{ collections['featured-products'].title }}
    </h2>
    <a
      href="{{collections['featured-products'].url}}"
      class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2"
      >View All<img
        src="{{'img__heading_right-arrow.svg' |  asset_url}}"
        width="auto"
        height="auto"
    ></a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for product in collections['featured-products'].products %}
      {% render 'product-item-grid', { product: product } %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Products Grid View",
  "tag": "section",
  "class": "Customize_Product_Grid_View",
  "settings": [
    {
      "type": "collection",
      "id": "gridViewCollectionId",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "Products Grid View"
    }
  ]
}
{% endschema %}
