{% liquid
  assign products_count = collections[section.settings.gridViewCollectionId].all_products_count
%}
<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[{{ section.settings.marginBottom }}px] mt-[{{ section.settings.marginTop }}px] pb-[{{ section.settings.paddingBottom }}px] pt-[{{ section.settings.paddingTop }}px]">
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">
      {{ collections[section.settings.gridViewCollectionId].title }} (11) {{ products_count }}
    </h2>
    {% if section.settings.changeViewAllText != blank %}
      <a
        href="{{ collections[section.settings.gridViewCollectionId].url }}"
        class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2"
      >
        {{- section.settings.changeViewAllText -}}
        <img
          src="{{'img__heading_right-arrow.svg' |  asset_url}}"
          width="auto"
          height="auto"
      ></a>
    {% endif %}
  </div>

  <div class="grid grid-cols-{{ section.settings.perRoWxs }} sm:grid-cols-{{ section.settings.perRoWsm }} md:grid-cols-{{ section.settings.perRoWmd }} lg:grid-cols-{{ section.settings.perRoWlg }} xl:grid-cols-{{ section.settings.perRoWxl }} gap-{{ section.settings.itemGap }}">
    {% for product in collections[section.settings.gridViewCollectionId].products %}
      {% render 'product-item-grid', { product: product } %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Products Grid View",
  "tag": "section",
  "class": "Customize_Product_Grid_View",
  "settings": [
    {
      "type": "collection",
      "id": "gridViewCollectionId",
      "label": "Select Collection"
    },
    {
      "type": "text",
      "id": "changeViewAllText",
      "label": "Change View All Text",
      "default": "View All"
    },
    {
      "type": "header",
      "content": "Products Per Row ( Devices )"
    },
    {
      "type": "range",
      "id": "perRoWxs",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Extra Small (XS)",
      "default": 1
    },
    {
      "type": "range",
      "id": "perRoWsm",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Small (SM)",
      "default": 2
    },
    {
      "type": "range",
      "id": "perRoWmd",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Medium (MD)",
      "default": 3
    },
    {
      "type": "range",
      "id": "perRoWlg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large (LG)",
      "default": 4
    },
    {
      "type": "range",
      "id": "perRoWxl",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large (XL)",
      "default": 4
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "marginTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "paddingBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "itemGap",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Item Gap",
      "default": 6
    }
  ],
  "presets": [
    {
      "name": "Products Grid View"
    }
  ]
}
{% endschema %}
