{% liquid
  assign margin_top = section.settings.marginTop
  assign margin_bottom = section.settings.marginBottom
  assign padding_top = section.settings.paddingTop
  assign padding_bottom = section.settings.paddingBottom
  assign hot_deals_collection_title = collections['hot-deals'].title
  assign hot_deals_collection_products = collections['hot-deals'].products
  assign on_sell_products_collection_title = collections['on-sell-products'].title
  assign on_sell_products_collection_products = collections['on-sell-products'].products
  assign deal_of_the_week_collection_title = collections['deal-of-the-week'].title
  assign deal_of_the_week_collection_products = collections['deal-of-the-week'].products
  assign best_seller_collection_title = collections['best-seller'].title
  assign best_seller_collection_products = collections['best-seller'].products
%}
<section
  id="multiple"
  class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0 mb-[{{ margin_bottom }}px] mt-[{{ margin_top }}px] pb-[{{ padding_bottom }}px] pt-[{{ padding_top }}px]"
>
  <div class="grid grid-cols-4 gap-6">
    {% comment %} Hot Deals {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">
        {{ hot_deals_collection_title }}
      </h2>
      <div class="items space-y-4">
        {% for product in hot_deals_collection_products %}
          {% render 'product-item-list', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} On Sell Products {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">
        {{ on_sell_products_collection_title }}
      </h2>
      <div class="items space-y-4">
        {% for product in on_sell_products_collection_products %}
          {% render 'product-item-list', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} Deal Of The Week {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">
        {{ deal_of_the_week_collection_title }}
      </h2>
      <div class="items space-y-4">
        {% for product in deal_of_the_week_collection_products %}
          {% render 'product-item-list', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} Best Seller {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">
        {{ collections['best-seller'].title }}
      </h2>
      <div class="items space-y-4">
        {% for product in collections['best-seller'].products %}
          {% render 'product-item-list', product: product %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Product List",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "marginTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingTop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "paddingBottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{%- endschema -%}
