<section id="heroSlider">
  <div
    class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col relative w-full h-full overflow-hidden  bg-top bg-no-repeat py-[80px] md:py-[105px]"
    style="background-image: url('{{ 'img__bg_slider.svg' | asset_url }}');"
  >
    {% for block in section.blocks %}
      <input class="hidden peer/slider{{ forloop.index }}" type="radio" id="slider{{ forloop.index }}" name="slider">
    {% endfor %}
    <div
      class="
                relative w-full flex transition-transform duration-500 ease-in-out      {% for block in section.blocks %}
          {% assign translate_value = forloop.index | minus: 1 %}
          peer-checked/slider{{ forloop.index }}:translate-x-{% if forloop.index == 1 %}0{% else %}[-{{ translate_value }}00%]{% endif %}
        {% endfor %}
      "
    >
      {% for block in section.blocks %}
        <div class="relative w-full flex-shrink-0 ">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
            <div class="flex flex-col items-center md:flex-row gap-12">
              <div class="w-full md:w-1/2">
                <img
                  class="w-full"
                  src="
                    {% if block.settings.single_slider_image != blank %}
                      {{ block.settings.single_slider_image |  image_url: width:"1000"  }}
                    {% else %}
                      {{ 'img__slider_image-1.svg' | asset_url }}
                    {% endif %}
                  "
                  width="auto"
                  height="auto"
                  alt="slider Image"
                >
              </div>
              <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
                <span
                  class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                  >Welcome to Ecobazar</span
                >
                <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                  Fresh &amp; Healthy Organic Food
                </h1>
                <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                  Sale up to
                  <span class="text-[#FF8A00]">30% OFF</span>
                </h3>
                <p class="not-italic font-normal text-sm text-[#808080]">
                  Free shipping on all your order. we deliver, you enjoy
                </p>
                <a
                  class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                  href="#"
                  >Shop now<img
                    src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                    height="auto"
                    width="auto"
                    alt="right arrow"
                ></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% comment %}
        <div class="relative w-full flex-shrink-0 ">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
            <div class="flex flex-col items-center md:flex-row gap-12">
              <div class="w-full md:w-1/2">
                <img
                  class="w-full"
                  src="{{'img__slider_image-2.png' |  asset_url}}"
                  height="auto"
                  width="auto"
                  alt="fruits"
                >
              </div>
              <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
                <span
                  class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                  >Welcome to Ecobazar</span
                >
                <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                  Fresh &amp; Healthy Organic Food
                </h1>
                <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                  Sale up to
                  <span class="text-[#FF8A00]">30% OFF</span>
                </h3>
                <p class="not-italic font-normal text-sm text-[#808080]">
                  Free shipping on all your order. we deliver, you enjoy
                </p>
                <a
                  class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                  href="#"
                  >Shop now<img
                    src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                    width="auto"
                    height="auto"
                    alt="right arrow"
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="relative w-full flex-shrink-0 ">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
            <div class="flex flex-col items-center md:flex-row gap-12">
              <div class="w-full md:w-1/2">
                <img
                  class="w-full"
                  src="{{'img__slider_image-3.svg' |  asset_url}}"
                  width="auto"
                  height="auto"
                  alt="fruits"
                >
              </div>
              <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
                <span
                  class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                  >Welcome to Ecobazar</span
                >
                <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                  Fresh &amp; Healthy Organic Food
                </h1>
                <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                  Sale up to
                  <span class="text-[#FF8A00]">30% OFF</span>
                </h3>
                <p class="not-italic font-normal text-sm text-[#808080]">
                  Free shipping on all your order. we deliver, you enjoy
                </p>
                <a
                  class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                  href="#"
                  >Shop now<img
                    src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                    width="auto"
                    height="auto"
                    alt="right arrow"
                ></a>
              </div>
            </div>
          </div>
        </div>
      {% endcomment %}
    </div>
    {% if section.settings.show_dot == true %}
      <div class="absolute w-full flex justify-center gap-2 bottom-10">
        {% for block in section.blocks %}
          <label
            class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider{{ forloop.index }}:opacity-100 peer-checked/slider{{ forloop.index }}:w-10"
            for="slider{{ forloop.index }}"
          >
          </label>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Slider",
  "tag": "section",
  "class": "Customize_HeroSlider",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dot",
      "label": "Show Dots Indicator",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "single_slider_image",
          "label": "Slider Image"
        },
        {
          "type": "text",
          "id": "single_slider_subHeading",
          "label": "Sub-Heading",
          "default": "Welcome to Ecobazar"
        },
        {
          "type": "text",
          "id": "single_slider_Heading",
          "label": "Heading",
          "default": "Fresh & Healthy Organic Food"
        },
        {
          "type": "text",
          "id": "single_slider_sales_promotion",
          "label": "Sales Promotion",
          "default": "Sale up to"
        },
        {
          "type": "text",
          "id": "single_slider_sales_promotion_color",
          "label": "Sales Promotion Colour Text",
          "default": "30% OFF"
        },
        {
          "type": "text",
          "id": "single_slider_offer_text",
          "label": "Offer",
          "default": "Free shipping on all your order. we deliver, you enjoy"
        },
        {
          "type": "text",
          "id": "single_slider_button_text",
          "label": "Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider"
    }
  ]
}
{% endschema %}
