{% comment %} Slider {% endcomment %}
<section id="heroSlider">
  <div
    class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col relative w-full h-full overflow-hidden  bg-top bg-no-repeat py-[80px] md:py-[105px]"
    style="background-image: url('{{ 'img__bg_slider.svg' | asset_url }}');">
    <input class="hidden peer/slider1" type="radio" id="slider1" name="slider"><input class="hidden peer/slider2"
      type="radio" id="slider2" name="slider"><input class="hidden peer/slider3" type="radio" id="slider3"
      name="slider">
    <div
      class="relative w-full flex transition-transform duration-500 ease-in-out peer-checked/slider1:translate-x-0 peer-checked/slider2:translate-x-[-100%] peer-checked/slider3:translate-x-[-200%]">
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img class="w-full" src="{{'img__slider_image-1.svg' |  asset_url}}" width="auto" height="auto"
                alt="fruits">
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]">Welcome
                to Ecobazar</span>
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span class="text-[#FF8A00]">30% OFF</span>
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#">Shop now<img src="{{'img__slider_right-arrow.svg' |  asset_url}}" height="auto" width="auto"
                  alt="right arrow"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img class="w-full" src="{{'img__slider_image-2.png' |  asset_url}}" height="auto" width="auto"
                alt="fruits">
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]">Welcome
                to Ecobazar</span>
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span class="text-[#FF8A00]">30% OFF</span>
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#">Shop now<img src="{{'img__slider_right-arrow.svg' |  asset_url}}" width="auto" height="auto"
                  alt="right arrow"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img class="w-full" src="{{'img__slider_image-3.svg' |  asset_url}}" width="auto" height="auto"
                alt="fruits">
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]">Welcome
                to Ecobazar</span>
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span class="text-[#FF8A00]">30% OFF</span>
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#">Shop now<img src="{{'img__slider_right-arrow.svg' |  asset_url}}" width="auto" height="auto"
                  alt="right arrow"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute w-full flex justify-center gap-2 bottom-10">
      <label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider1:opacity-100 peer-checked/slider1:w-10"
        for="slider1"></label><label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider2:opacity-100 peer-checked/slider2:w-10"
        for="slider2"></label><label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider3:opacity-100 peer-checked/slider3:w-10"
        for="slider3"></label>
    </div>
  </div>
</section>
{% comment %} Feature {% endcomment %}
<section id="feature" class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
  <div class="flex flex-col md:flex-row flex-wrap md:justify-between">
    <div class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 ">
      <div
        class="flex justify-center items-center h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'">
        <img class="block group-hover:hidden transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_free-shipping-green.svg' | asset_url }}" alt="Free Shipping Green">
        <img class="hidden group-hover:block transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_free-shipping-white.svg' | asset_url }}" alt="Free Shipping White">
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black">
          Free Shipping
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black">
          Free shipping on all your order
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] md:border-0">
      <div
        class="flex justify-center items-center h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out "
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'">
        <img class="block group-hover:hidden transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_great-support-green.svg' | asset_url }}" alt="Free Shipping Green">
        <img class="hidden group-hover:block transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_great-support-white.svg' | asset_url }}" alt="Free Shipping White">
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black">
          Customer Support 24/7
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black">
          Instant access to Support
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] lg:border-0">
      <div
        class="flex justify-center items-center  h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'">
        <img class="block group-hover:hidden transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_secure-payment-green.svg' | asset_url }}" alt="Free Shipping Green">
        <img class="hidden group-hover:block transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_secure-payment-white.svg' | asset_url }}" alt="Free Shipping White">
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black">
          100% Secure Payment
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black">
          We ensure your money is save
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] xl:border-0">
      <div
        class="flex justify-center items-center  h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'">
        <img class="block group-hover:hidden transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_money-back-green.svg' | asset_url }}" alt="Free Shipping Green">
        <img class="hidden group-hover:block transition-opacity duration-500 ease-in-out" width="auto" height="auto"
          src="{{'img__feature_money-back-white.svg' | asset_url }}" alt="Free Shipping White">
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black">
          Money-Back Guarantee
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black">
          30 Days Money-Back Guarantee
        </p>
      </div>
    </div>
  </div>
</section>

{% comment %} Feature Products {% endcomment %}
<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[80px] mt-[40px]">
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">{{collections['featured-products'].title}}</h2>
    <a href="{{collections['featured-products'].url}}"
      class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2">View All<img
        src="{{'img__heading_right-arrow.svg' |  asset_url}}" width="auto" height="auto"></a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for product in collections['featured-products'].products %}
    {% render 'product-item-grid' , product: product %}
    {% endfor %}
  </div>
</section>
{% comment %} Products Category {% endcomment %}
<section id="popularCategories" class="bg-no-repeat bg-cover py-[80px]"
  style="background-image: url('{{ 'img__bg_category.svg' | asset_url }}');">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
    <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
      <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">Top Categories</h2>
      <a href="/shop" class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2">View All<img
          src="{{'img__heading_right-arrow.svg' |  asset_url}}" width="auto" height="auto"></a>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">
      <a href="#"
        class="group border rounded-[5px] border-solid border-[#E6E6E6] space-y-3 hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)] px-3 py-6 bg-white"><img
          src="{{'img__category_image-3.svg' |  asset_url}}" alt="fruits" width="auto" height="auto">
        <h3 class="not-italic font-medium text-sm sm:text-base text-center text-[#1A1A1A] group-hover:text-[#2C742F]">
          Baking Needs
        </h3>
      </a>
    </div>
  </div>
</section>
{% comment %} Promo {% endcomment %}
<section id="Static" class="bg-no-repeat bg-cover pb-[80px]"
  style="background-image: url('{{ 'img__bg_promo.svg' | asset_url }}');">
  <div class="relative overflow-hidden ">
    <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
        <div class="sm:max-w-lg">
          <h1 class="text-4xl font-bold tracking-tight  text-gray-900 sm:text-6xl">100% Trusted Organic Food Store</h1>
          <p class="mt-4 text-xl text-gray-500">
            This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care
            if you live or die.
          </p>
        </div>
        <div>
          <div class="mt-10">
            <div aria-hidden="true"
              class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
              <div
                class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8 ">
                <div class="flex items-center space-x-6 lg:space-x-8 ml-[16px]">
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                      <img width="auto" height="auto" src="{{'img__promos_image-2.svg' |  asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-3.svg' |  asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-11.jpg' |  asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-10.jpg' |  asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-5.svg' |   asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                  <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-9.jpg' | asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                      <img width="auto" height="auto" src="{{'img__promos_image-8.jpg' |  asset_url}}" alt=""
                        class="h-full w-full object-cover object-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#"
              class="inline-block rounded-md border border-transparent bg-[#00B307] px-8 py-3 text-center font-medium text-white">Shop
              Collection</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} Best Selling Category {% endcomment %}
<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[80px] mt-[40px]">
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">{{collections['trending-products'].title}}</h2>
    <a href="{{collections['trending-products'].url}}"
      class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2">View All<img
        src="{{'img__heading_right-arrow.svg' |  asset_url}}" width="auto" height="auto"></a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
    {% for product in collections['trending-products'].products %}
    {% render 'product-item-grid' , product: product %}
    {% endfor %}
  </div>
</section>
{% comment %} Product Masonary {% endcomment %}
<section id="productMasonryGallery"
  class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full mb-[80px]">
  <div
    class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col relative w-full h-full overflow-hidden rounded-lg">
    <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
      <img width="auto" height="auto" src="{{'img__product-masonry_image-9.jpg' |  asset_url}}" alt="product"
        class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
      <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
      <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
    </a>
  </div>
  <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
    <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4">
      <img width="auto" height="auto" src="{{'img__product-masonry_image-11.jpg' |  asset_url}}" alt="product"
        class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">

      <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
      <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Gin</h3>
    </a>
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
      <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40">
        <img width="auto" height="auto" src="{{'img__product-masonry_image-12.jpg' |  asset_url}}" alt="product"
          class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">

        <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
        <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">
          Whiskey
        </h3>
      </a><a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40">
        <img width="auto" height="auto" src="{{'img__product-masonry_image-14.jpg' |  asset_url}}" alt="product image"
          class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">

        <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
        <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Vodka</h3>
      </a>
    </div>
  </div>
  <div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
    <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
      <img width="auto" height="auto" src="{{'img__product-masonry_image-10.jpg' |  asset_url}}" alt="product"
        class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">

      <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
      <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Brandy</h3>
    </a>
  </div>
</section>
{% comment %} Multiple {% endcomment %}
<section id="multiple" class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0 mb-[80px]">
  <div class="grid grid-cols-4 gap-6">
    {% comment %} Hot Deals {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">
        {{collections['on-sell-products'].title}}
      </h2>
      <div class="items space-y-4">
        <div
          class="group flex relative border border-solid border-[#E6E6E6] rounded-[5px] hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)] h-min-[100px]">
          <div class="w-1/3">
            <img width="auto" height="auto" class="object-cover w-full h-full"
              src="{{'img__products_image-9.svg' |  asset_url}}" alt="vegetables">
          </div>
          <div class="w-2/3 space-y-1 p-3 flex flex-col self-center">
            <a class="not-italic text-base font-semibold text-[#4D4D4D] group-hover:text-[#2C742F]"
              href="/details">Green Lettuce</a>
            <div class="flex justify-between items-center flex-wrap flex-row">
              <div>
                <div class="flex space-x-2">
                  <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">$49.00</p>
                  <del class="mt-0.5 text-xs sm:text-sm font-bold text-gray-500">$99.00</del>
                </div>
                <div class="flex items-center">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_blank.svg' |  asset_url}}" alt="blank-star">
                </div>
              </div>
              <div class="flex space-x-2 invisible group-hover:visible">
                <div class="cursor-pointer">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-green.svg' |  asset_url}}"
                    class="hidden w-[26px] h-[26px]" alt="wishlist">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-black.svg' |  asset_url}}"
                    class="w-[26px] h-[26px]" alt="wishlist">
                </div>
                <a class="cursor-pointer" href="/cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-green.svg' |  asset_url}}"
                    class="hidden w-[24px] h-[24px]" alt="Cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-black.svg' |  asset_url}}"
                    class="w-[24px] h-[24px]" alt="Cart">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Feature Product {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">Hot Deals</h2>
      <div class="items space-y-4">
        <div
          class="group flex relative border border-solid border-[#E6E6E6] rounded-[5px] hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)] h-min-[100px]">
          <div class="w-1/3">
            <img width="auto" height="auto" class="object-cover w-full h-full"
              src="{{'img__products_image-9.svg' |  asset_url}}" alt="vegetables">
          </div>
          <div class="w-2/3 space-y-1 p-3 flex flex-col self-center">
            <a class="not-italic text-base font-semibold text-[#4D4D4D] group-hover:text-[#2C742F]"
              href="/details">Green Lettuce</a>
            <div class="flex justify-between items-center flex-wrap flex-row">
              <div>
                <div class="flex space-x-2">
                  <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">$49.00</p>
                  <del class="mt-0.5 text-xs sm:text-sm font-bold text-gray-500">$99.00</del>
                </div>
                <div class="flex items-center">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_blank.svg' |  asset_url}}" alt="blank-star">
                </div>
              </div>
              <div class="flex space-x-2 invisible group-hover:visible">
                <div class="cursor-pointer">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-green.svg' |  asset_url}}"
                    class="hidden w-[26px] h-[26px]" alt="wishlist">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-black.svg' |  asset_url}}"
                    class="w-[26px] h-[26px]" alt="wishlist">
                </div>
                <a class="cursor-pointer" href="/cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-green.svg' |  asset_url}}"
                    class="hidden w-[24px] h-[24px]" alt="Cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-black.svg' |  asset_url}}"
                    class="w-[24px] h-[24px]" alt="Cart">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Feature Product {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">Hot Deals</h2>
      <div class="items space-y-4">
        <div
          class="group flex relative border border-solid border-[#E6E6E6] rounded-[5px] hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)] h-min-[100px]">
          <div class="w-1/3">
            <img width="auto" height="auto" class="object-cover w-full h-full"
              src="{{'img__products_image-9.svg' |  asset_url}}" alt="vegetables">
          </div>
          <div class="w-2/3 space-y-1 p-3 flex flex-col self-center">
            <a class="not-italic text-base font-semibold text-[#4D4D4D] group-hover:text-[#2C742F]"
              href="/details">Green Lettuce</a>
            <div class="flex justify-between items-center flex-wrap flex-row">
              <div>
                <div class="flex space-x-2">
                  <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">$49.00</p>
                  <del class="mt-0.5 text-xs sm:text-sm font-bold text-gray-500">$99.00</del>
                </div>
                <div class="flex items-center">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_blank.svg' |  asset_url}}" alt="blank-star">
                </div>
              </div>
              <div class="flex space-x-2 invisible group-hover:visible">
                <div class="cursor-pointer">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-green.svg' |  asset_url}}"
                    class="hidden w-[26px] h-[26px]" alt="wishlist">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-black.svg' |  asset_url}}"
                    class="w-[26px] h-[26px]" alt="wishlist">
                </div>
                <a class="cursor-pointer" href="/cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-green.svg' |  asset_url}}"
                    class="hidden w-[24px] h-[24px]" alt="Cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-black.svg' |  asset_url}}"
                    class="w-[24px] h-[24px]" alt="Cart">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Feature Product {% endcomment %}
    <div class="col-span-4 md:col-span-2 xl:col-span-1 space-y-5">
      <h2 class="not-italic font-medium text-2xl leading-9 text-[#1A1A1A]">Hot Deals</h2>
      <div class="items space-y-4">
        <div
          class="group flex relative border border-solid border-[#E6E6E6] rounded-[5px] hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)] h-min-[100px]">
          <div class="w-1/3">
            <img width="auto" height="auto" class="object-cover w-full h-full"
              src="{{'img__products_image-9.svg' |  asset_url}}" alt="vegetables">
          </div>
          <div class="w-2/3 space-y-1 p-3 flex flex-col self-center">
            <a class="not-italic text-base font-semibold text-[#4D4D4D] group-hover:text-[#2C742F]"
              href="/details">Green Lettuce</a>
            <div class="flex justify-between items-center flex-wrap flex-row">
              <div>
                <div class="flex space-x-2">
                  <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">$49.00</p>
                  <del class="mt-0.5 text-xs sm:text-sm font-bold text-gray-500">$99.00</del>
                </div>
                <div class="flex items-center">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_full.svg' |  asset_url}}" alt="yellow-star">
                  <img width="auto" height="auto" class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                    src="{{'img__rating_blank.svg' |  asset_url}}" alt="blank-star">
                </div>
              </div>
              <div class="flex space-x-2 invisible group-hover:visible">
                <div class="cursor-pointer">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-green.svg' |  asset_url}}"
                    class="hidden w-[26px] h-[26px]" alt="wishlist">
                  <img width="auto" height="auto" src="{{'img__wishlist_heart-black.svg' |  asset_url}}"
                    class="w-[26px] h-[26px]" alt="wishlist">
                </div>
                <a class="cursor-pointer" href="/cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-green.svg' |  asset_url}}"
                    class="hidden w-[24px] h-[24px]" alt="Cart">
                  <img width="auto" height="auto" src="{{'img__cart_bag-black.svg' |  asset_url}}"
                    class="w-[24px] h-[24px]" alt="Cart">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>