{% comment %} Slider {% endcomment %}
<section id="heroSlider">
  <div
    class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col relative w-full h-full overflow-hidden  bg-top bg-no-repeat py-[80px] md:py-[105px]"
    style="background-image: url('{{ 'img__bg_slider.svg' | asset_url }}');"
  >
    <input class="hidden peer/slider1" type="radio" id="slider1" name="slider"
    ><input
      class="hidden peer/slider2"
      type="radio"
      id="slider2"
      name="slider"

    ><input
      class="hidden peer/slider3"
      type="radio"
      id="slider3"
      name="slider"
    >
    <div
      class="relative w-full flex transition-transform duration-500 ease-in-out peer-checked/slider1:translate-x-0 peer-checked/slider2:translate-x-[-100%] peer-checked/slider3:translate-x-[-200%]"
    >
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img
                class="w-full"
                src="{{'img__slider_image-1.svg' |  asset_url}}"
                width="auto"
                height="auto"
                alt="fruits"
              >
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                >Welcome to Ecobazar</span
              >
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span
                  class="text-[#FF8A00]"
                  >30% OFF</span
                >
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a
                class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#"
                >Shop now<img
                  src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                  height="auto"
                  width="auto"
                  alt="right arrow"
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img
                class="w-full"
                src="{{'img__slider_image-2.png' |  asset_url}}"
                height="auto"
                width="auto"
                alt="fruits"
              >
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                >Welcome to Ecobazar</span
              >
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span
                  class="text-[#FF8A00]"
                  >30% OFF</span
                >
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a
                class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#"
                >Shop now<img
                  src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                  width="auto"
                  height="auto"
                  alt="right arrow"
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full flex-shrink-0 ">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
          <div class="flex flex-col items-center md:flex-row gap-12">
            <div class="w-full md:w-1/2">
              <img
                class="w-full"
                src="{{'img__slider_image-3.svg' |  asset_url}}"
                width="auto"
                height="auto"
                alt="fruits"
              >
            </div>
            <div class="space-y-4 md:space-y-6 w-full md:w-1/2">
              <span
                class="not-italic font-medium text-[14px] tracking-[0.02em] uppercasenot-italic font-medium text-sm tracking-[0.02em] uppercase text-[#00B307]"
                >Welcome to Ecobazar</span
              >
              <h1 class="not-italic font-semibold text-4xl lg:text-5xl xl:text-7xl text-[#1A1A1A]">
                Fresh &amp; Healthy Organic Food
              </h1>
              <h3 class="not-italic font-normal text-[32px] text-[#1A1A1A]">
                Sale up to
                <span
                  class="text-[#FF8A00]"
                  >30% OFF</span
                >
              </h3>
              <p class="not-italic font-normal text-sm text-[#808080]">
                Free shipping on all your order. we deliver, you enjoy
              </p>
              <a
                class="flex gap-x-2 not-italic font-semibold text-base text-white bg-[#00b307] w-full md:w-[200px] h-[50px] items-center justify-center rounded-full"
                href="#"
                >Shop now<img
                  src="{{'img__slider_right-arrow.svg' |  asset_url}}"
                  width="auto"
                  height="auto"
                  alt="right arrow"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute w-full flex justify-center gap-2 bottom-10">
      <label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider1:opacity-100 peer-checked/slider1:w-10"
        for="slider1"
      ></label
      ><label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider2:opacity-100 peer-checked/slider2:w-10"
        for="slider2"
      ></label
      ><label
        class="block w-3 h-3 bg-[#00B307] cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 peer-checked/slider3:opacity-100 peer-checked/slider3:w-10"
        for="slider3"
      ></label>
    </div>
  </div>
</section>
{% comment %} Feature {% endcomment %}
<section id="feature" class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0">
  <div class="flex flex-col md:flex-row flex-wrap md:justify-between">
    <div class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 ">
      <div
        class="flex justify-center items-center h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'"
      >
        <img
          class="block group-hover:hidden transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_free-shipping-green.svg' | asset_url }}"
          alt="Free Shipping Green"
        >
        <img
          class="hidden group-hover:block transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_free-shipping-white.svg' | asset_url }}"
          alt="Free Shipping White"
        >
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          Free Shipping
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          Free shipping on all your order
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] md:border-0"
    >
      <div
        class="flex justify-center items-center h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out "
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'"
      >
        <img
          class="block group-hover:hidden transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_great-support-green.svg' | asset_url }}"
          alt="Free Shipping Green"
        >
        <img
          class="hidden group-hover:block transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_great-support-white.svg' | asset_url }}"
          alt="Free Shipping White"
        >
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          Customer Support 24/7
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          Instant access to Support
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] lg:border-0"
    >
      <div
        class="flex justify-center items-center  h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'"
      >
        <img
          class="block group-hover:hidden transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_secure-payment-green.svg' | asset_url }}"
          alt="Free Shipping Green"
        >
        <img
          class="hidden group-hover:block transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_secure-payment-white.svg' | asset_url }}"
          alt="Free Shipping White"
        >
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          100% Secure Payment
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          We ensure your money is save
        </p>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 lg:w-auto group p-[40px] flex flex-col flex-wrap items-center gap-y-2 border-t border-[#00B307] xl:border-0"
    >
      <div
        class="flex justify-center items-center  h-[72px] w-[72px] bg-no-repeat bg-cover transition-all duration-500 ease-in-out"
        style="background-image: url('{{ 'img__feature_bg-low.svg' | asset_url }}');"
        onmouseover="this.style.backgroundImage='url({{ 'img__feature_bg-habby.svg' | asset_url }})'"
        onmouseout="this.style.backgroundImage='url({{ 'img__feature_bg-low.svg' | asset_url }})'"
      >
        <img
          class="block group-hover:hidden transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_money-back-green.svg' | asset_url }}"
          alt="Free Shipping Green"
        >
        <img
          class="hidden group-hover:block transition-opacity duration-500 ease-in-out"
          width="auto"
          height="auto"
          src="{{'img__feature_money-back-white.svg' | asset_url }}"
          alt="Free Shipping White"
        >
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <h3
          class="not-italic font-semibold text-base text-[#1A1A1A] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          Money-Back Guarantee
        </h3>
        <p
          class="not-italic font-normal text-sm text-[#999999] transition-colors duration-500 ease-in-out group-hover:text-black"
        >
          30 Days Money-Back Guarantee
        </p>
      </div>
    </div>
  </div>
</section>
{% comment %} Feature Products {% endcomment %}
<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[80px] mt-[40px]">
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">Featured Products</h2>
    <a
      href="/shop"
      class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2"
      >View All<img
        src="{{'img__heading_right-arrow.svg' |  asset_url}}"
        width="auto"
        height="auto"
    ></a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div class="group relative border  border-[#E6E6E6] rounded-[5px] hover:shadow-[0px_0px_6px_rgba(32,181,38,0.32)]">
      <div>
        <div class="flex space-x-2 absolute left-3 top-3">
          <p
            class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-white uppercase bg-[#EA4B48] rounded-full"
          >
            New
          </p>
          <p
            class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-white uppercase bg-[#00B307] rounded-full"
          >
            Sale
          </p>
        </div>
        <img
          class="object-cover w-full h-full"
          width="auto"
          height="auto"
          src="{{'img__products_image-10.svg' |  asset_url}}"
          alt="vegetables"
        >
      </div>
      <div class="space-y-1 p-5">
        <a
          class="not-italic text-base font-semibold text-[#4D4D4D] group-hover:text-[#2C742F]"
          href="/details"
          >Green Lettuce</a
        >
        <div class="flex justify-between items-center flex-wrap flex-row">
          <div>
            <div class="flex space-x-2">
              <p class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">$49.00</p>
              <del
                class="mt-0.5 text-xs sm:text-sm font-bold text-gray-500"
                >$99.00</del
              >
            </div>
            <div class="flex items-center space-x-px">
              <img
                class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                src="img__rating_full.svg"
                alt="yellow-star"
                width="auto"
                height="auto"
              >
              <img
                class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                src="img/rating/full.svg"
                alt="yellow-star"
                width="auto"
                height="auto"
              >
              <img
                class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                src="img/rating/full.svg"
                alt="yellow-star"
                width="auto"
                height="auto"
              >
              <img
                class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                src="img/rating/full.svg"
                alt="yellow-star"
                width="auto"
                height="auto"
              >
              <img
                class="w-3 h-3 text-yellow-400 sm:w-4 sm:h-4"
                src="img/rating/blank.svg"
                alt="blank-star"
                width="auto"
                height="auto"
              >
            </div>
          </div>
          <div class="flex space-x-3">
            <div class="cursor-pointer">
              <img
                src="img/wishlist/heart-green.svg"
                class="hidden w-[26px] h-[26px]"
                alt="wishlist"
                width="auto"
                height="auto"
              >
              <img
                src="img/wishlist/heart-black.svg"
                width="auto"
                height="auto"
                class="w-[26px] h-[26px]"
                alt="wishlist"
              >
            </div>
            <a class="cursor-pointer" href="/cart">
              <img
                src="img/cart/bag-green.svg"
                class="hidden w-[24px] h-[24px]"
                alt="Cart"
                width="auto"
                height="auto">
              <img src="img/cart/bag-black.svg" class="w-[24px] h-[24px]" alt="Cart" width="auto" height="auto"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
